<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Product</h1>
    <div id="nhihienlanh">
        <label for="name" >Name:</label>
        <input type="text" id="name" name="name" required value=""><br><br>

        <label for="code" >Code:</label>
        <input type="text" id="code" name="code" required value=""><br><br>


        <label for="price" >Price:</label>
        <input type="number" id="price" name="price" min="0" required value=""><br><br>

        <label for="quatily" >Quatily:</label>
        <input type="number" id="quatily" name="quatily" required value=""><br><br>

        <label for="status">Trạng Thái:</label>
        <input type="text" id="status" name="status" required value=""><br><br>
        <button type="submit" onclick="">Edit Product</button>
    </div>

</body>
<script src="/static/js/editProduct.js"></script>
</html>