<th>1</th>
                        <th>
                            <img src="static/img/logoandbanner/logo.jpg" alt="">
                        </th>
                        <th hidden id="product_id"></th>
                        <th>Hoa hồng</th>
                        <th>45000</th>
                        <th>21/04/2023</th>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</body>
<script src="./static/js/base.js"></script>
<script src="./static/js/history.js"></script>
</html>